:root {
  --background-color: white;
  --black-font-color: black;
  --white-font-color: white;
  --grey-font-color: #8c8c8c;
  --button1-color: red;
  --button2-color: #eaeaea;
}

* {
  box-sizing: border-box;
}

/* reset */

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

/* base styles */

body {
  background: var(--background-color);
  overflow-x: hidden;
  font-size: 100%;
}

/* red button */

.redButton {
  background: linear-gradient(to bottom, #ca1907 5%, #ca1907 100%);
  background-color: #ca1907;
  border-radius: 28px;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.redButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.redButton:active {
  position: relative;
}

/* grey button */

.greyButton {
  background: linear-gradient(to bottom, #999999 5%, #999999 100%);
  background-color: #999999;
  border-radius: 28px;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.greyButton:hover {
  background: linear-gradient(to bottom, #7e7e7e 5%, #7e7e7e 100%);
  background-color: #7e7e7e;
}
.greyButton:active {
  position: relative;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: var(--button2-color);
  color: var(--grey-font-color);
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;
  padding-right: 15em;
}
